/* Reset and base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #111;
}

/* Top Navigation Bar */
nav {
  background-color: #4285f4;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  gap: 60px;
  border-radius: 100px;
  width: 100%;
  position: fixed;
  top: 4px;
}

nav a {
  color: black;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

/* Header */
.about-header {
  text-align: center;
  padding: 40px 20px 10px;
}

.about-header .highlight {
  background-color: #4285f4;
  color: white;
  padding: 5px 15px;
  border-radius: 8px;
}
.d1{
    align-items: center;
    margin-top: 40px;
}

.intro {
  margin-top: 20px;
  color: darkblue;
  font-size: 16px;
}

/* Content Sections */
.about-content {
  text-align: center;
  margin: 50px auto;
  max-width: 800px;
}

.section {
  margin-bottom: 70px;
}

.section h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Footer */
footer {
  background-color: #4285f4;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  color: black;
 border-radius: 100%;
 bottom:10px;
}
