body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #e8f0fe;
  margin-top:10px;
  margin-bottom: 10px;
}

.navbar {
  background-color: #4285f4;
  padding: 10px 0;
  text-align: center;
  border-radius: 50px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.navbar a.active {
  text-decoration: underline;
}

.container {
  max-width: 400px;
  margin: 30px auto;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding-bottom: 30px;
  overflow: hidden;
}

.header {
  background-color: #4285f4;
  color: white;
  padding: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.back-arrow {
  margin-right: 10px;
  font-size: 22px;
}

.contact-box {
  padding-left: 20px;
  text-align: center;
}

.contact-box h2 {
  margin-bottom: 10px;
  color: #222;
}

.contact-box p {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

.info {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 30px;
  padding: 12px 20px;
  margin: 10px auto;
  width: fit-content;
  gap: 10px;
  font-size: 14px;
  color: #333;
}

.info i {
  color: #4285f4;
}

.contact-box h3 {
  margin: 25px 0 10px;
  color: #111;
}

.social {
  display: flex;
  align-items: center;
  margin: 10px 0;
  text-align: left;
  padding: 0 20px;
  font-size: 14px;
}

.social i {
  font-size: 18px;
  margin-right: 10px;
  color: #4285f4;
}

.i1{
    position: fixed;
    top:400px;
    right: 930px;
    height: 20px;
    width: 20px;
}

.social-icons img {
  width: 24px;
  margin-right: 10px;
  position: relative ;
  right: -600px;
  bottom: 69px;
  margin-right: 60px;;
}